@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

@import url("https://fonts.googleapis.com/css?family=Roboto|Anton");

body {
	font-family:'Roboto', sans-serif;
	font-size: 18px;
	background-color: rgb(240,240,240);
	text-align: center;
}
h1, h2, h3 {
	font-family: 'Anton', sans-serif;
	font-weight: lighter;
	color:#f3c623;
}	

li {
	list-style-type:none;
}

a {
	color:black;
}


a:hover {
	color: red;
}







